.chatbotContainer {
  position: sticky;
  top: 25px; /* height of your header */
  height: 100%;
  width: 25%;
  align-self: flex-start; /* important inside flex layouts */
}

@keyframes fadeInSide {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animateFadeInSide {
  animation: fadeInSide 0.5s ease-in-out;
}

.chatbot {
  height: calc(100vh - 90px);
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  /* From https://css.glass */
  background: #eadcf633;
  box-shadow: 0 4px 30px rgba(118, 46, 180, 0.387);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(95, 17, 99, 0.3);
}

.chatbotMessages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatbotSend {
  padding: 10px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  /* From https://css.glass */
  background: #eadcf633;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border-top: 1px solid rgba(95, 17, 99, 0.3);
}

.chatbotSend textarea {
  width: 80%;
  height: 60px;
  resize: none;
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* From https://css.glass */
  background: #c0d6e033;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border-top: 1px solid rgba(95, 17, 99, 0.3);
}

.chatbotSend textarea:focus {
  border-top: 1px solid rgba(95, 17, 99, 0.3);
  outline: none;
}

.chatbotSend button {
  color: rgba(95, 17, 99, 0.3);
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(95, 17, 99, 0.3);

  /* From https://css.glass */

  background: #d07fe833;
  box-shadow: 0 10px 20px rgba(47, 7, 66, 0);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  transition: box-shadow 0.3s ease, scale 0.3s ease;
  scale: 1;
}

.chatbotSend button:hover {
  scale: 1.03;
  box-shadow: 0 10px 20px rgba(47, 7, 66, 0.425);
}

.userMessage {
  text-align: right;
}

.userMessageSpan {
  background-color: rgba(190, 111, 235, 0.582);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.AIMessageSpan {
  color: rgb(51, 51, 147);
  background-color: rgba(111, 123, 235, 0.452);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
