.entryText {
  border: none;
  font-size: 20px;
  background: transparent;
  margin: 0;
  padding-left: 10px;
  width: 95%;
  height: 100%;
  height: auto;
  min-height: calc(100vh - 230px);
  resize: none;
  overflow: visible;
}

.entryText:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.entryTextContainer textarea {
  text-align: left;
  padding-top: 20px;
  font-family: "Lexend Deca", sans-serif;
  display: inline-table;
  line-height: 2;
}
